.hero{
    background-color: #52d57c;
    box-sizing: border-box;
    color: #ffffff;
    margin: 0;
    padding: 0 20%;
    text-align: center;
    width: 100%;
}
.hero__phone{
    display: block;
}
.hero__progress-logo,
.hero__phone,
.feature-primary__code,
.feature-secondary__table,
.luigi__phone{
    width: 100%;
}
.features{
    padding: 0 20%;
    text-align: center;
}
.bring{
    background-color: #f5f3f7;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.bring__subtitle{
    box-sizing: border-box;
    width: 100%;
}
.services{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
}
.icons{
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    width: 20%;
}
.icon{
    box-sizing: border-box;
    width: 100%;
}
.luigi{
    box-sizing: border-box;
    margin: 0;
    width: 47%;
}
.plataform{
    padding: 0 20%;
    width: 100%;
}




.info{
    margin: 0;
    text-align: center;
}
.info__social{
    background-color: #52d57c;
    color: #ffffff;
    margin: 0;
    padding: 1.5rem 20%;
}
.info__bold{
    font-weight: bold;
    margin: 0;
}
.info__copyright{
    background-color: #2f3441;
    color: #8c96a0;
    font-size: 0.8rem;
    margin: 0;
    padding: 1rem 0;
}